.complaint {
  padding-top: 8px;
  margin-top: 20px !important;
}

.complaint .go-back-link {
  padding-left: 18px;
}
.complaint .go-back-link a {
  color: #677788;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.complaint .go-back-link a svg {
  font-size: 14px;
  margin-right: 10px;
}
.complaint h2 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 38px;
  color: #516377;
  margin: 5px 0;
  padding-left: 15px;
}
.complaint h2 span {
  color: var(--green);
}
.complaint h5 {
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 22px;
  margin-left: 13px;
}
.complaint form {
  margin-top: 45px;
}
.complaint form label {
  font-weight: 500;
}
/* .complaint form textarea,
.complaint form select,
.complaint form input:not([type="radio"]) {
  border-radius: 15px;
}
.complaint form input:is([type="radio"]) {
  padding: 0;
}

.complaint form select,
.complaint form textarea,
.complaint form input {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  border: 1px solid;
  border-color: #b9b9b9;
  padding: 10px;
  } */
.complaint form select:focus,
.complaint form textarea:focus,
.complaint form input:focus {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border-color: #b9b9b9;
}

.complaint form textarea {
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  color: #000 !important;
  -webkit-backdrop-filter: blur(5.1px);
  height: 122px;
}

.complaint form input:not([type="radio"]) {
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  color: #000 !important;
  -webkit-backdrop-filter: blur(5.1px);
  margin-top: 5px;
  margin-bottom: 15px;
}
.complaint form select{
  border-radius: 16px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  color: #000 !important;
  -webkit-backdrop-filter: blur(5.1px);
  margin-top: 5px;
  margin-bottom: 15px;
}
.complaint .form-check-input {
  width: 18px;
  height: 18px;
  margin-top: 0.035em;
    vertical-align: top;
}
.form-check{
  margin-bottom: 0.125rem;
}
.complaint .form-check-input:checked[type="radio"] {
  background-color: #00845a;
  border-color: #00845a;
}

.cmp-btn {
  display: block;
  margin: auto;
  background: var(--green);
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 6px;
  /* width: 270px; */
  padding: 8px;
  transition: 0.5s ease;
  margin-top: 50px;
}

.cmp-btn:hover {
  background-color: #00845a;
}

@media (max-width: 575px) {
  .complaint h2 {
    font-size: 26px;
  }
}
